<div class="row-fluid">
	<header><h1>Your Races</h1></header>
	<hr />
</div>
<div class="row-fluid">
	<h3><a href="races/1">San Antonio Rock and Roll Marathon</a></h3>
</div>
<div class="row-fluid">
	<h3>LIVESTRONG Austin Marathon</h3>
</div>
<div class="row-fluid">
	<h3>Austin 3M Marathon</h3>
</div>
<div class="row-fluid">
	<h3>Nashville Rock and Roll Marathon</h3>
</div>
