<div>
	<div class="row-fluid">
		<div class="span-4 shoe-container">
			<p>Vibram Five Fingers</p>
			
			<div class="gauge" id="vibram-gauge"></div>
			<span class="currentMileage" id="vibram-mileage">220</span>
		</div>
		<div class="span-4 shoe-container">
			<p>Nike Free</p>
			
			<div class="gauge" id="nike"></div>
			<span class="currentMileage" id="nike-mileage">75</span>
		</div>
		<div class="span-4 shoe-container">
			<p>Saucony Series 7</p>
			
			<div class="gauge" id="saucony"></div>
			<span class="currentMileage" id="nike-mileage">600</span>
		</div>
	</div>
</div>