<script type="script/x-kendo-tmpl" id="shoe_template">
	<li class="span-4 shoe-container">
		<p>#=name#</p>
		
		<div class="gauge" id="#=name#-gauge" data-val="#=currentMileage#"></div>
		<span class="currentMileage" id="#=name#-mileage">#=currentMileage#</span>
	</li>
</script>

<div class="row-fluid">
	<ul class="span-12" id="shoe_list"></ul>
</div>
