<script type="script/x-kendo-tmpl" id="shoe_template">
	<li class="span-4 shoe-container">
		<h2>#=name#</h2>
		<p>Mileage: <span class="currentMileage" id="#=name#-mileage">#=currentMileage#</span> (Max. #=maxMileage#)</p>
		<div class="gauge" id="#=name#-gauge" data-mileage="#=currentMileage#" data-max="#=maxMileage#"></div>		
	</li>
</script>

<div class="row-fluid">
	<ul class="span-12" id="shoe_list"></ul>
</div>
